.social-links a {
  color: blue;
  text-decoration: none;
}

#title {
  color: rgb(139, 10, 60);
  text-decoration-line: underline;
}

.menu > li {
  border: 1px solid tomato;
}

a[href="https://htmlreference.io"]
{
  color: teal;
}

a[href="https://cssreference.io"]
{
  color: orange;
}

a[href="https://www.youtube.com"]
{
  color: tomato;
}
.link {
  color: teal;
}

.link:hover {
  color: tomato;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: tomato;
}

.social-links .link:focus {
  color: orange;
}

.social-links .link:active {
  color: red;
}
