.social-links a {
  color: blue;
  text-decoration: none;
}

#title {
  color: rgb(139, 10, 60);
  text-decoration-line: underline;
}

.menu > li {
  border: 1px solid tomato;
}

a[href="https://htmlreference.io"]
{
  color: teal;
}

a[href="https://cssreference.io"]
{
  color: orange;
}

a[href="https://www.youtube.com"]
{
  color: tomato;
}
.link {
  color: teal;
}

.link:hover {
  color: tomato;
}

.social-links .link:hover {
  color: tomato;
}

.social-links .link:focus {
  color: orange;
}

.social-links .link:active {
  color: red;
}

.social-links .link {
  color: teal;
  text-decoration: underline;
  font-size: 18px;
  line-height: 1.3;
}

.post-title {
  font-weight: 700;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #000000;
  text-shadow: 2px 2px 20px rgb(68, 66, 66), 5px 5px 5px rgb(34, 94, 34);
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.align-right {
  text-align: justify;
}

.align-justify {
  color: rgb(55, 0, 94);
  font-family: fantasy;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
  white-space: pre-wrap;
  text-transform: capitalize;
}
